<head>
  <link rel="stylesheet" type="text/css" href="../../app/stylesheets/activate.css">
</head>

<label class="switch">
  <input type="checkbox" id="togBtn">
  <div class="slider round">
    <span class="on">This student is currently active.</span>
    <span class="off">This student is currently inactive.</span>
  </div>
</label>
